<footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3 offset-lg-5 offset-md-4 offset-sm-5 offset-xs-5">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2 ml-4">{{global.title}}</h2>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a target="__blanck" href="{{global.github}}"><span class="icon-github"></span></a></li>
                <li class="ftco-animate"><a target="__blanck" href="{{global.linkedin}}"><span class="icon-linkedin"></span></a></li>
                <li class="ftco-animate"><a target="__blanck" href="{{global.stack}}"><span class="icon-stack-overflow"></span></a></li>
                <li class="ftco-animate"><a target="__blanck" href="{{global.twitter}}"><span class="icon-twitter"></span></a></li>
              </ul>
            </div>
		  </div>
		  
          
        </div>

		
    </footer>


    <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>