<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
	  {{>nav}}
    
    <section class="home-slider js-fullheight owl-carousel bg-white">
      <div class="slider-item js-fullheight">
      	<div class="overlay"></div>
        <div class="container-fluid p-0">
          <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
          	<div class="one-third order-md-last img js-fullheight" style="background-image:url(images/hero_bg.jpg);">
          	</div>
	          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
	          	<div class="text mt-md-5">
                <p class="mb-4">Hello, I'm<p>
		            <h1 class="mb-4">{{{page.hero.header}}}</h1>
		            <p>{{page.hero.subtext}}</p>
		            <p><a href="#btn-container" class="btn btn-primary px-4 py-3 mt-3">Interested in collaborating?</a></p>
                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a target="__blanck" href="{{global.github}}"><span class="icon-github"></span></a></li>
                <li class="ftco-animate"><a target="__blanck" href="{{global.linkedin}}"><span class="icon-linkedin"></span></a></li>
                <li class="ftco-animate"><a target="__blanck" href="{{global.stack}}"><span class="icon-stack-overflow"></span></a></li>
                <li class="ftco-animate"><a target="__blanck" href="{{global.twitter}}"><span class="icon-twitter"></span></a></li>
              </ul>
	            </div>
	          </div>
        	</div>
        </div>
      </div>
    </section>

    
	

		<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-sm-5 img img-2 d-flex align-items-center justify-content-center justify-content-md-end" style="background-image: url(images/back_bg.jpg); position: relative"></div>
					<div class="col-sm-7 wrap-about py-5 ftco-animate">
	          <div class="heading-section mt-5 mb-4">
	          	<div class="pl-lg-5 ml-md-5">
		          	<span class="subheading"></span>
		            <h2 class="mb-4">{{page.about.header}}</h2>
	            </div>
	          </div>
	          <div class="pl-lg-5 ml-md-5">
							<p>{{page.about.subtext}}</p>
						</div>
					</div>
				</div>
			</div>
		</section>

     <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading"></span>
            <h2 class="mb-4"></h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-6 col-lg-3 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3>Languages</h3>
        		</div>
            {{#languages}}
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url({{image}});"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>{{name}}</h3>
	                </div>
	                {{! <div class="one-forth">
	                  <span class="price">$29</span>
	                </div> }}
	              </div>
	              {{! <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p> }}
              </div>
            </div>
            {{/languages}}
            
        	</div>

        	<div class="col-md-6 col-lg-3 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3>Frameworks</h3>
        		</div>
            {{#frameworks}}
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url({{image}});"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>{{name}}</h3>
	                </div>
	               
	              </div>
              </div>
            </div>
            {{/frameworks}}
        	</div>

        	<div class="col-md-6 col-lg-3 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3>Interpersonal Skills</h3>
        		</div>
            {{#interSkills}}
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url({{image}});"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>{{name}}</h3>
	                </div>
	              </div>
              </div>
            </div>
            {{/interSkills}}
            
            
        	</div>
        	
        	<div class="col-md-6 col-lg-3 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3>Skills</h3>
        		</div>
            {{#skills}}
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url({{image}});"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>{{name}}</h3>
	                </div>	                
	              </div>
              </div>
            </div>
            {{/skills}}
        	</div>

      
        </div>
    	</div>

    </section>
			

		<section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="container">
				<div class="row d-flex">
          <div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
          	<div class="heading-section ftco-animate mb-5">
	            <h2 class="mb-4">I'd love to hear from you</h2>
	          </div>
            <form action="/message" method="post">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Name</label>
                    <input id="name" name="name" type="text" class="form-control" placeholder="Your Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Email</label>
                    <input id="email" name="email" type="text" class="form-control" placeholder="Your Email">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Message</label>
                    <textarea id="message" name="message" type="text" class="form-control" rows="8" placeholder="What's on you mind??"></textarea>
                  </div>
                </div>
                <div class="col-md-12 mt-3">
                  <div id='btn-container' class="form-group">
                    <input id="submit" type="submit" value="Submit" class="btn btn-primary py-3 px-5">
                    <p id='flash' style="color: #f34949; display: none ">Thank's</p>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-5 ftco-animate img img-2" style="background-image: url(images/hero_bg.jpg);"></div>
        </div>
			</div>
		</section>

    
  {{>footer}}

  
  {{>scripts}}

 
    <script>
      const submit = document.getElementById('submit');
      submit.addEventListener('click', (e) => {
      if (e) {
      e.preventDefault();
        submit.value = 'Thank\'s'
      }
      const message = {
        name: document.getElementById('name').value,
        email: document.getElementById('email').value,
        message: document.getElementById('message').value
      }
      console.log('Submited' + JSON.stringify(message))
      
        fetch('/message', {
          method: 'POST',
          headers: {
            'content-type': 'application/json; charset=UTF-8',
          },
          body: JSON.stringify(message),
        });
        const data = message;
        return console.log(data)
      })
    </script>
  </body>
</html>